# Environment Configuration for CPanel Backup
# This file should be moved to the desired location, completed, and renamed
# to .env.cpanelback
#
# When executing the cpanel backup command the path to the parent directory
# of this file should be provided. See command help for more details.

# CPanel Configuratin
CPANEL_URI=
CPANEL_USER=
CPANEL_PASS=

# FTP Server configuration used for moving the CPanel backup to
# a new location.
FTP_HOST=
FTP_USER=
FTP_PASS=
FTP_PORT= 
FTP_PATH= # An additional path to be used in the FTP user space. 

# Other variables.
DEBUG=false
